* {
  box-sizing: border-box;
}

html {
  font-family: monospace;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

button {
  font: inherit;
  cursor: pointer;
  background-color: (0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 0.75rem 2rem;
}

button:hover,
button:active {
  background-color: rgba(0, 0, 0, 0.1);
}
       
       
